
    .body {
    width: 1140px;
    margin: auto;}
    
    .header_div {
    height: 100px;
    align-items: center;
    background-color: grey;
    display: flex;
    justify-content: space-between;}

   .header_img1 {
    margin-left: 10px;}

    .header_img {
    gap: 5px;
    border-radius: 100%;
    width: 30px;}

    .header_input {
    margin-right: 10px;
  height: 20px;
background-color: rgb(119, 106, 106);}

    .div_header {
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;}

    .header_a {
    margin-left: 10px;
    text-decoration: none;
    color: black;
    padding-bottom: 10px;}

    .section1 {
    display: flex;
    margin-top: 50px;
    gap: 10px;
    justify-content: center;}

    .section1_h2 {
    margin-bottom: 10px;}

    .section1_img {
    border-radius: 5px solid red ;
    width: 370px;
    height: 320px;}

    .section1_p {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 350px;}


    
    .section2 {
    gap: 20px;
    margin-top: 50px;
    display: flex;}

    .section2 h2 {
    margin-top: 5px;}

    .section2_p1 {
    margin-top: 0%;}

  .section2_p {
    margin-top: 110px;}

    .section2_p2 {
    background-color: rgb(173, 165, 154);}

    .section2_img {
    width: 400px;
    height: 350px;}

    .section2_div1 {
    width: 500px;}



    .container_main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;}
    .main {
    width: 500px;
    margin-left: 20px;}
    .main h2 {
    margin-top: 0%;}
    .main p {margin-top: 73px;}
    .main1 {
    margin-top: 81px;
    width: 500px;
    margin-left: 20px;}
    .main1_a {
    color: black;}


    .section3 {
    justify-content: space-between;
    display: flex;
    align-items: center;}
    .section3_div h2 {
    margin-bottom: 0%;}
    .section3_div p {
    margin-top: 0%;
    margin-bottom: 0%;}
    .section3_div a {
    color: black;}


    .section4_div {
    width: 600px;}
    .section4_div_h2 {
    color:  rgb(102, 85, 117);
    width: 700px;
    font-size: 40px;
    margin-bottom: 5px;}

    .section4_div2 {
    gap: 20px;
    display: flex;
    margin-bottom: 50px;}

    .section4_div3 {
    background-color: rgb(156, 179, 179);
    padding-left: 20px;}

    .section4_div3 h2 {
    color: rgb(110, 7, 206);
    font-family: Arial, Helvetica, sans-serif;}

    .section4_div_p {
    width: 350px;}

    .btn {
    margin-bottom: 50px;
    background-color: rgb(128, 92, 161);
    color: #fff;
    width: 120px;
    height: 30px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12px;
    border-radius: 3px;
    outline: none;
    transition: 0.35s;}
  .btn:hover {background-color: rgb(31, 14, 8);}

  .form {
  text-align: center;}

  .form h2 {
  font-family: Arial, Helvetica, sans-serif;}

  .input {
  margin-bottom: 30px;
  width: 300px;
  border-top: black;
  border-left: black;
  border-right: black;}
  .input2 {
  margin-top: 30px;
  width: 300px;
  border-top: black;
  border-left: black;
  border-right: black;
  }

  .btn2 {
  margin-top: 10px;
  background-color: rgb(248, 31, 60);
  color: #fff;
  width: 120px;
  height: 30px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 12px;
  border-radius: 3px;
  outline: none;
  transition: 0.35s;}
.btn2:hover {background-color: rgb(43, 46, 32);}

  .footer_div {
  margin-top: 50px;
  margin-bottom:20px;
  display: flex;
  justify-content: center;
  background-color: gray;
  align-items: center;
  gap: 10px;}
  .footer_div p {
  text-align: center;
  width: 800px;}



  

